<html> 

<head>
	<title>hello</title>
</head>

<body>
<h3>Anton Evdokimov</h4>
<ul>
	<li>St Petersburg, IFMO CTD,  2 course
	<li>E-mail: free0u@gmail.com
	<li>vk: http://vk.com/id26635379
</ul>
</body>

</html>